{{!-- <!DOCTYPE html> --}}
<html lang="en">

  {{> head}}

<body>
  {{> Navbar}}
  <div class="bg-home-div">
    <img class="bg-home-img" src='../../public/images/bg-home.jpg' alt="img" />
    <span>
      <img class="bg-home-icon" src="../../public/images/bg-home-icon.png" alt="icons" />
      <p class="bg-home-text">Freeze Delight</p>
    </span>
  </div>
  <div>
    <div class="body-div-1">
      <div class="body-div1-text">
        <h1>New Product</h1>
        <h2>The Twist of Healthy Yogurt</h2>
        <p>This webiste template has been designed by</p>
        <a href="#"><h6>Free Website Template</h6></a>
        <p>
          for you, for free. You can replace all this text with your own text.
        </p>
      </div>
      <div class="body-div1-img">
        <img src="../../public/images/yogurt.jpg" alt="Yogurt" />
      </div>
    </div>
  </div>
  <div class="div-2">
    <div class="body-div-2">
      <ul class="body-div2-ul">
        <li>
          <a href="#"><img src="../../public/images/home-icons-1.png" alt="icon-1" /></a>
          <p>PRODUCTS</p>
        </li>
        <li>
          <a href="#"><img src="../../public/images/home-icons-2.png" alt="icon-2" /></a>
          <p>OUR STORY</p>
        </li>
        <li>
          <a href="#"><img src="../../public/images/home-icons-3.png" alt="icon-3" /></a>
          <p>FLAVORS</p>
        </li>
        <li>
          <a href="#"><img src="../../public/images/home-icons-4.png" alt="icon-4" /></a>
          <p id="location">OUR LOACATION</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <ul class="social-div">
      <li><img src="../../public/images/fb.png" alt="fb" /></li>
      <li><img src="../../public/images/twitter.png" alt="twitter" /></li>
      <li><img src="../../public/images/gmail.png" alt="gmail" /></li>
      <li><img src="../../public/images/pinterest.png" alt="pinterest" /></li>
    </ul>
    <div class="socail-text">
      <p>© 2023 Freeeze. All Rights Reserved.</p>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
</html>
