
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand logo" href="#">
        <img src="../views/images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item font nav-link mr-5 p-4 active home" href="#"
            >Home</a
          >
          <a class="nav-item font nav-link mr-5 p-4 Navlink-color" href="#"
            >ABOUT</a
          >
          <a class="nav-item font nav-link mr-5 p-4 Navlink-color" href="#"
            >CONTACT</a
          >
          <a class="nav-item font nav-link mr-5 p-4 Navlink-color" href="#"
            >{{userName}}</a
          >
          <a class="nav-item font nav-link mr-5 p-4 Navlink-color" href="#"
            >CONTACT</a
          >
        </div>
      </div>
    </nav>